<%= form_for Post.new, :class=>"form-horizontal" , :remote => true  do |f| %>

  <div class="control-group">
    <label class="control-label">News title:</label>
    <div class="controls">
    	<%= f.text_field :title, :placeholder=>:title %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Link to an official news:</label>
    <div class="controls">
    	<%= f.text_field :external_url_news, :placeholder=>:news_website_address %>
    </div>
  </div>
  <%if user_signed_in? %>
    	<%= f.hidden_field :user_id, :value => current_user.id %>
  <%end%>
  <div class="control-group">
    <label class="control-label">Picture to upload:</label>
    <div class="controls">
    	<%= f.file_field :image %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>