
<div id="post_<%= post.id %>">
	<%= image_tag(post.image, :size => "640x480", :alt => post.title) %><br />
	post by: <%= post.user_id %>, <%=time_ago_in_words(post.created_at)%> ago <br />
	check the news on: <%= post.external_url_news %> <br />
	<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
	
	 <%= link_to 'Delete', post_path(post), :method => :delete, :class => "delete", :remote => true  %> 
</div>
	