<!DOCTYPE html>
<html>
<head>
  <title>Memenews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>


<!--
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
-->


<div class="container">   
	
	<%= render "shared/header" %>
	
	<div id="content">
		<div class="row">
		
		    <div id="user_panel" class="span3"> 
		      <% if user_signed_in? %>
					<%= render "users/connected_user" %>
				<% else %>  

					<% if params[:controller] == 'posts'  && params[:action] == 'index' %>
						<%= render "users/not_connected_user" %>
					<% end %>
				<%end%>	
		    </div>
		    
		    <div class="span1 spacer"></div>
		
		    <div class="span8">
				<%= yield %>
		    </div>
		    
	    </div>
    </div>
    
	<%= render "shared/footer" %>
	
</div>


</body>
</html>

